homeassistant:
  # Name of the location where Home Assistant is running
  name: yeilkim
  # Location required to calculate the time the sun rises and sets
  latitude: 36.102967
  longitude: 129.388692
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  #unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  customize: !include customize.yaml
zone:
  - name: School
    latitude: 36.103299
    longitude: 129.386887
    radius: 100
    icon: mdi:school

  - name: Home
    latitude: 36.102799
    longitude: 129.391372
    radius: 10

frontend:

config:

        #http:
        # api_password: !secret http_password

tts:
        platform: google_translate

weather:
  - platform: darksky
    api_key: 831db390bfc13337859de91999f50139
    name: Pohang Weather
    mode: daily

sensor: !include sensor.yaml
group:
  weather_card_forecast:
    name: forecast
    entities:
      - sensor.forecast_1
      - sensor.forecast_2
      - sensor.forecast_3
      - sensor.forecast_4
      - sensor.forecast_5
      - sensor.forecast_6
      - sensor.forecast_7
##########this is for entities########
  darksky_basic_forecast:
    name: "weather forecast"
    entities:
      - sensor.dark_sky_summary
      - sensor.dark_sky_pressure
      - sensor.dark_sky_humidity
      - sensor.dark_sky_temperature
  air_quality:
    name: air quality data
    entities:
      - sensor.air_quality_khaivalue
      - sensor.air_quality_khaigrade
      - sensor.air_quality_pm25value
      - sensor.air_quality_pm25grade

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
